* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

            /*HEADER */

/* HEADER > section: .header-top */
.header-top{
    width: 100%;
    height: 20px;
    line-height: 20px;
    background: #222222;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between ;
}

    .header-top_p{
      padding-left: 20px;
    }


    .header-top_nav > ul{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        width: 120px;
    }

/* HEADER > section: .header-menu */

.header-button{
    background-color: #eb72d9;
    color: #FFFFFF;
    height: 62px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .header-button-h1{
        height: 23px;
        font-weight: 700;
        font-size: 20px;
        font-style: normal;
        color: #3C2313;
        margin-left: 40px;
    }

    .header-menu__ul {
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        list-style-type: none;
        width: 350px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    
img.carrito {
    display: inline;
    width: 48px;
    float: right;
}

img.flecha{
    display: inline;
    width: 48px;
    float: right;    
}

/* BODY */
main{
    display: flex;
    flex-direction: column;
}

.contenedor-textoImg{
    width: 100%;
    margin: 30px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.destacados-textoImg_div-img{
    height: 60px;
}
.destacados-textoImg_div-p{
    font-size: 35px;
    font-weight: 700;
    color: #3C2313;
}

.contenedor-destinos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

article.article-destino{
    height: 400px;
    width: 270px;
    background-color: #FBFAF6;          
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

img.imagen{
    width: 100%;
    height: 150px;
}

h3.nombre{
    font-size: 18px;
}

h5.importe {
    color: #3C2313;
    font-size: 15px;
    font-weight: 500;
}
p.descripcion{
    color:#F0A83E;
    font-size: 12px;
    font-weight: 500;
}

button {
    font-size: 10px;
    width: 80px;
    padding: 0px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9f0095;
    height: 40px;
}

    .footer-derechos{   
        color: #F3F3F3;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }


/* CHECKOUT.HTML 
tfoot#total-a-pagar{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content:center;
}*/
   
button#btn-confirmar-compra{
    display: flex;
    align-items: center;
    justify-content:center;
}

img.img-timer{
    width: 30px;
}